.quantity-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 10rem;
    height: 4rem;
    display: flex;
    gap: 0.5rem;
    .quantity-options {
        width: 10rem;
    }
    .quantity-head {
        margin-right: 1rem;
    }

}